@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');

/* Geral Style */
body{
	margin: 0;
	line-height: 1.5;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 400;
	background-color: #F2F2FC;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

::before,::after{
	box-sizing: border-box;
}

section{
	background-color: #f2f2fc;
	min-height: 100vh;
	display: block;
	padding: 0 30px;
}

.main-section{
	padding-left: 270px;
}

.container{
	max-width: 1100px;
	width: 100%;
	margin: auto;
}

.btn{
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	padding: 12px 35px;
	color: #ffffff;
	border-radius: 40px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: inline-block;
	white-space: nowrap;
    border: none;
    cursor: pointer;
}

.btn:hover{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.shadow-dark{
	-webkit-box-shadow: 0 0 20px rgba(48, 46,77,0.15);
	box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Lateral */
aside{
	width: 270px;
	background-color: #fdf9ff;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	border-right: 1px solid #e8dfec;
	padding: 30px;
}

aside .logo{
	padding: 30px 0;
}

aside .logo img{
	width: 239px;
	height: 91px;
	display: inline-block;
	right: 10px;
	position: relative;
}

aside nav{
	list-style: none;
	margin: 80px 0;
	padding: 0;
}

aside nav li{
	display: block;
}

aside nav li a{
	font-size: 16px;
	font-weight: 600;
	color: #1d1d1d;
	text-decoration: none;
	line-height: 45px;
	display: block;
	border-bottom: 1px solid #e8dfec;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform: capitalize;
}

aside nav li a:hover{
	padding-left: 5px;
	color: #3b3b3b;
}

aside nav li a .fa{
	margin-right: 10px;
}

.mobile-menu{
	display: none;
	cursor: pointer;
}

.mobile-menu div{
	width: 32px;
	height: 2px;
	background-color: #1d1d1d;
	margin: 8px;
}

/* Blog */
section .container{
	padding-top: 60px;
	padding-bottom: 70px;
}
.section-title{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 60px;
}

.section-title h1{
	padding-top: 30px;
	font-size: 40px;
	color: #1d1d1d;
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	margin: 0;
	position: relative;
}

.section-title h1::before{
	content: '';
	height: 4px;
	width: 50px;
	position: absolute;
	top: 100%;
	left: 0;
}

.section-title h1::after{
	content: '';
	height: 4px;
	width: 25px;
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 8px;
}

.row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	position: relative;
}

.padd-15{
	padding-left: 15px;
	padding-right: 15px;
}

/* Blog */
.blog .container{
    padding-bottom: 40px;
} 
.blog .blog-item{
	-ms-flex: 0 0 33 33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.blog .blog-item-inner{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d4d4e3;
}

.blog .blog-item-inner .blog-img{
    position: relative;
    overflow: hidden;
}

.blog .blog-item-inner .blog-img img{
	filter: grayscale(100%); /*Deixando a imagem cinza */
	/* filter: blur(5px); Deixa a imagem desfocada*/
	/* filter: brightness(100%); deixa a imagem clara */
	/* filter: invert(100%); inversão de cores */
	/* filter: opacity(50%); opacidade da imagem */

    width: 100%;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blog .blog-item-inner:hover .blog-img img{
	filter: grayscale(0%); /*Deixando a imagem colorida ao passar o mouse */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blog .blog-item-inner .blog-img .blog-date{
    position: absolute;
    padding: 4px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    left: 15px;
    bottom: 15px;
}

.blog .blog-item-inner .blog-info{
    padding: 30px 15px;
    background-color: #fdf9ff;
}

.blog .blog-item-inner .blog-info .blog-title{
    font-size: 18px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 10px;
}

.blog .blog-item-inner .blog-info .blog-description{
    font-size: 16px;
    line-height: 25px;
    color: #3b3b3b;
    font-weight: 400;
    margin-bottom: 15px;
}

.blog .blog-item-inner .blog-info .blog-tags{
    font-size: 16px;
    line-height: 25px;
    color: #3b3b3b;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}

.blog .blog-item-inner .blog-info .blog-tags a{
    font-weight: 600;
}

.blog .blog-item-inner .blog-info .blog-tags a:hover{
	-webkit-transition: all 0.5s ease;
	transition: all 0.5 ease;
	color: #56E4F8;
}