.section-title h1::before, .section-title h1::after, .btn {
    background-color: #1d1d1d;
}

aside nav li a:hover,
aside nav li a.active{
  color: #878787;
}

.blog .blog-item-inner .blog-info .blog-tags a,
.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h2 span{
    color: #989898;
}

.blog .blog-item-inner .blog-img .blog-date,
.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills-info .skill-item .progress .progress-in,
.btn,
.section-title h1::before, .section-title h1::after{
  background-color: #1d1d1d;
}

/* Mobile First */

/* Tablet */
@media (max-width: 1199px){
	.section .container{
		padding-top: 70px;
	}

	.aside{
		left: -270px;
	}
	.aside.open{
		left: 0px;
	}

	.section{
		left: 0px;
	}

	.section.open{
		left: 270px;
	}

	.about-content .row, .service section .row, .blog section .row, .service section .row{
		display: block;
	}
}

@media (max-width: 768px) {
	body{
		font-size: 18px;
	}
	
	/* Lateral */
	aside{
		width: 270px;
		background-color: #fdf9ff;
		position: fixed;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 10;
		border-right: 1px solid #e8dfec;
		padding: 50px;
		display: block;
	}
	
	aside .logo img{
		width: 220px;
		height: 91px;
		display: inline
	}

	/* index, sobre, serviços, blog*/
	.main-content, .about section, .service section, .blog section{
		margin-left: 250px;
	}

	/* Sobre */
	.row .about-text span{
		display: block;
	}

	.row .about-text p	{
		width: 60%;
	}

	.about-content .row{
		display: block;
	}

	/* Serviço e Blog */
	.service section .container .row, .blog section .container .row{
		margin-left: 250px;
		width: 200%;
		display: inline-block;
	}

	.row .about-text span{
		display: block;
	}

	.row .about-text p{
		width: 60%;
	}

	.service section .row, .blog section div.row{
		width: 200%;
	}
}

@media only screen and (max-width: 480px) {
	body {
	font-size: 12px;
	}

	/* Lateral */
	aside{
		width: 200px;
		background-color: #fdf9ff;
		position: fixed;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 10;
		border-right: 1px solid #e8dfec;
		padding: 30px;
		display: block;
	}

	aside .logo img{
		width: 165px;
		height: 91px;
		display: inline
	}
	
	.home .intro img{
		height: 200px;
		width: 200px;
	}
	
	.home h1{
		font-size: 20px;
	}
	
	.home .intro p{
		font-size: 12px;
		line-height: 18px;
	}
	
	.home .intro .social-links a{
		height: 30px;
		width: 30px;
		line-height: 30px;
		margin: 0 2px;
	}

	/*Borda das páginas*/
	.main-content, .about section, .service section, .blog section{
		margin-left: 175px;
	}

	/* Organização das páginas */
	.about content .row, .service section .row, .service section .row, .blog section .row{
		display: block;
	}

	/* Sobre organização */
	.row .about-text span{
		display: block;
	}

	.row .about-text p, .about-text h1{
		width: 60%;
	}

	.skill-item h4{
		padding-bottom: 19px;
	}

	.row .timeline-title{
		width: 60%;
	}

	.about section .timeline-item .timeline-title{
		font-size: 50%;
	}

	/* Serviços e Blog */
	.service section .service .service-item .service-item-inner, .blog section .blog-item .blog-item-inner{
		width: 200%;
	}
}