.section-title h1::before, .section-title h1::after, .btn {
    background-color: #1d1d1d;
}

aside nav li a:hover,
aside nav li a.active{
  color: #878787;
}

.blog .blog-item-inner .blog-info .blog-tags a,
.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h2 span{
    color: #989898;
}

.blog .blog-item-inner .blog-img .blog-date,
.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills-info .skill-item .progress .progress-in,
.btn,
.section-title h1::before, .section-title h1::after{
  background-color: #1d1d1d;
}

/* Mobile First */

/* Tablet */
@media (max-width: 1199px){
	.section .container{
		padding-top: 70px;
	}

	.aside{
		left: -270px;
	}
	.aside.open{
		left: 0px;
	}

	.section{
		left: 0px;
	}

	.section.open{
		left: 270px;
	}

	.about section .about-content .personal-info .info-item p span{
		display: block;
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	body{
		font-size: 18px;
	}
	
	/* Lateral */
	aside{
		width: 270px;
		background-color: #fdf9ff;
		position: fixed;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 10;
		border-right: 1px solid #e8dfec;
		padding: 50px;
		display: block;
	}
	
	aside .logo img{
		width: 220px;
		height: 91px;
		display: inline
	}

	/* index, sobre, serviços, blog*/
	.main-content, .about section, .service section, .blog section{
		margin-left: 250px;
	}

	.row .about-text span{
		display: block;
	}

	.row .about-text p	{
		width: 60%;
	}

	.about-content .row{
		display: block;
	}
}

@media only screen and (max-width: 480px) {
	body {
	font-size: 12px;
	}

	.home .intro img{
		height: 150px;
		width: 150px;
	}
	
	.home h1{
		font-size: 20px;
	}
	
	.home .intro p{
		font-size: 12px;
		line-height: 18px;
	}
	
	.home .intro .social-links a{
		height: 25px;
		width: 25px;
		line-height: 25px;
		margin: 0 2px;
	}
}